<footer class="mastfoot">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
</footer>
</div>
</div>
</div>
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script type="application/javascript" src="../js/bootstrap.min.js"></script>
<script type="application/javascript" src="../js/main.js"></script>
</body>
</html>